<div class="content">
    <h3>Room Availability:</h3>
    <table style="border:1px solid black; margin:0 auto">
        <tr>
            <th style="border:1px solid black;" width="100">Room 1</th>
            <td style="border:1px solid black;" width="100" id="room1">Available</td>
        </tr>
    </table>
</div>

<style>
    .content {
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
    }
</style>

<script>
    window.onload = () => {
        console.log("Sanity check!");
        setInterval(async () => {
            const myElement = document.getElementById('room1');
            const res = await fetch('/get-status');
            const data = await res.json();
            console.log(data);
            
            if(data["1"] == 1) {
                myElement.innerText = "Available";
            } else {
                myElement.innerText = "Occupied";
            }

        }, 2000);
    };
</script>